.container{
  max-width: 900px;
  width: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 25px 10%;
  border: 1px solid grey;
  box-shadow: 5px 8px #888888;
}

input {
  height: 20px;
  margin: 0 5%;
}

label {
  margin: 2% 5% 0 5%;

}

button {
  background-color: #DCDCDC;
  margin-top: 15px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;
  align-self: center;
  color: black;
  text-align: center;
  font-size: 15px;
}

button:hover{
  background-color: #ADFF2F;
}